{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="container mt-5 ">
  <div class="row justify-content-center mt-3">
    <div class="col-md-6">
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
  </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Register</h2>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Username" required>
                        </div>
                        <div class="mb-3">
                          <input type="password" class="form-control" name="password" placeholder="Password" required>
                          {% comment %} <small class="form-text text-muted">Please use a strong password</small> {% endcomment %}
                      </div>
                      
                        <div class="mb-3">
                            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
